@import "../../lib/bootstrap/css/bootstrap.min.css";


.table {
    text-align: center;
}

.table td {
    white-space: nowrap;
}

.cursor-pointer {
    cursor: pointer;
}

.text-align-left {
    text-align: left;
}

